/TechnologyStoreAutomation/bin/
/TechnologyStoreAutomation/obj/
.env
/.vs/*
/.vscode/*
/.idea/*
[Bb]in/
[Oo]bj/
[Pp]ublish/
[Rr]eport/
[Ss]olution/
[Tt]est/
[Vv]isualStudio/
[Ww]eb/
[Xx]aml/
[Yy]aml/
[Zz]ip/